<div class="conversation_right_box">
  <div class="conversation_post_input_box">
    <img class="conversation_post_pic_small" src="images/profile_placeholder.png" height="30px" width="30px"/>
    <%= form_for @post, :url =>conversation_message_profile_path(@user),:html => {:multipart => true,:method => "POST"},:remote => true do |f| %>
      <%= image_tag(current_user.avatar.url(:original), :width => '40px', :height => '40px', :style => 'float: left;margin-top: -6px;') %>
      <%= f.text_field :body,:class=>"compose_new_post",:style=>"width:58%;",:placeholder=>"Add to Conversation" %>
      <%= f.submit 'Post', :style => "left: -10px;position: relative;top: -4px;" %>
    <% end %>
  </div>

  <div class="conversation_post_box">
    <% for post in @posts %>
      <%= image_tag(current_user.avatar.url(:original), :width => '30px', :height => '30px', :class => 'conversation_post_pic_small') %>
      <div class="conversation_poster_name"><%= post.user.username %></div>
      <div class="conversation_poster_content"><a href="#"><%= post.user.username %></a> hey whatup, so how long have you been using edupost?</div>
      <div class="conversation_action_row">
        Nov. 1 at 9:00 PM &#183; <a href="#">Reply</a> &#183; <a href="#">Like</a> &#183; <a href="#">Flag</a> &#183; <a href="#">More</a>
      </div>
    <% end %>
  </div>
</div>

<div class="conversation_middle_box">

  <img class="conversation_post_pic" src="images/profile_placeholder.png" height=80px width=80px>
  <h4 class="conversation_post_name">JohnDoe</h4>
  <div class="started_this_conversation"> Started this conversation</div>
  <div class="conversation_post_content">Post content goes here</div>
  <div class="conversation_post_date">Nov. 1 at 8:00 AM via EduPost
  </div>
</div>













