<div class="span12">

  <div class="box_c1_mp">
    <div style="float: left;"><%= image_tag(@user.avatar.url(:original) , :width => '140px;', :height => '140px;', :class => "profile_pic img-rounded") %></div>
    <div style="float: left;left:12px;">
      <h2 class="profile_name"><%= @user.username %></h2>
      <h4 class="at_name"><%= @user.email %></h4>
      <div class="location"><%= @user.state%></div>
      <%= link_to @user.website, @user.website, :target => "_blank", :class => "website" %>
    </div>
    <div class="profile_box_right">
      <button type="button" class="btn"><%= image_tag("/assets/my_tweets_icon_default.png", :height => "15px", :width => "15px") %></button>
      <% if @user.id != current_user.id %>
        <% @user_follow=Follow.find_by_user_id_and_receiver_id_and_status(current_user.id,@user.id,false) %>
        <% @user_follower=Follow.find_by_user_id_and_receiver_id(current_user.id,@user.id) %>
        <% if !@user_follower.present?%>
          <%= link_to 'Follow',follow_user_follow_path(current_user.id,@user.id),:remote => true,:method => 'post', :class => 'btn' %>
        <% elsif !@user_follow %>
          <%= link_to 'Following',unfollow_user_follow_path(current_user.id,@user.id),:remote => true,:method => 'put', :class => 'btn' %>
        <% elsif @user_follow%>
          <%= link_to 'Follow',update_follow_user_follow_path(current_user.id,@user.id),:remote => true,:method => 'put', :class => 'btn' %>
        <% end %>
      <% else %>
        <%= link_to 'Edit your Profile',edit_profile_path(current_user), :class => 'btn' %>
      <% end %>
      <br/>
      <div class="tweets_num"><%= @user.tweets.count %>&nbsp<%= link_to "Posts", profile_path(@user)%></div>
      <div class="following_num"><%= @user.sent_follows.where("status = #{true}").count %>&nbsp<%= link_to "Following", following_profile_path(@user)%></div>
      <div class="followers_num"><%= @user.received_follows.where("status = #{true}").count %>&nbsp<%= link_to "Followers", followers_profile_path(@user)%></div>

    </div>
  </div>

</div>