<div class="conversation_right_box">
  <div class="conversation_post_input_box">
    <%= form_for @post, :url =>conversation_message_profile_path(@user),:html => {:multipart => true,:method => "POST"},:remote => true do |f| %>
      <%= image_tag(current_user.avatar.url(:original), :width => '30px', :height => '30px', :class => 'conversation_post_pic_small') %>
      <%= f.text_field :body,:class=>"compose_new_post",:style=>"width:55%;",:placeholder=>"Add to Conversation" %>
      <%= f.submit 'Post', :style => "left: -10px;position: relative;top: -4px;" %>
    <% end %>
  </div>

  <div class="conversation_post_box">
    <% for post in @posts %>
      <%= image_tag(post.user.avatar.url(:original), :width => '30px', :height => '30px', :class => 'conversation_post_pic_small') %>
      <div class="conversation_poster_name"><%= post.user.username.split("@").last %></div><br />
      <div class="conversation_poster_content">
        <%= User.find_by_username(post.body.split(" ")[0]).present? ? ((link_to post.body.split(" ")[0],profile_path(post.receiver))+' '+post.body.slice(post.body.split(" ")[0].length..post.body.length)) : post.body %>
      </div>
      <div class="conversation_action_row">
        <%= post.created_at.strftime("%b %d at %H:%M %p") %> &#183; <%= post.created_at.strftime("%b %d at %H:%M %p") %> &#183; <%= link_to image_tag("/assets/reply_icon.png", :width => '10px', :height => '10px')+'Reply', reply_user_post_path(post.user,post,:reply_as => 'conversation_reply'), :remote => true, :id => "reply_#{post.id}" %> &#183; <a href="#">Like</a> &#183; <a href="#">Flag</a> &#183; <a href="#">More</a>
      </div>
      <div id="bid-infoo_<%= post.id %>"></div>
    <% end %>
  </div>
</div>

<div class="conversation_middle_box">
  <div style="float: right;margin-left: 0;margin-top: -5px;">
    <%=image_tag("close.jpeg", :style => "cursor: pointer;margin : -2px -9px -2px 0px;", :border =>0,:width => '34px', :height => '34px', :onclick => "hide_popup();")%>
  </div>
  <%= image_tag(current_user.avatar.url(:original), :width => '80px', :height => '80px', :class => 'conversation_post_pic') %>
  <h4 class="conversation_post_name"><%= current_user.username.split("@").last %></h4>
  <div class="started_this_conversation">Started this conversation</div>
  <% if @user.tweets.present?  %>
    <% Tweet.where("user_id = #{@user.id}").order('created_at Asc').limit(1).each do |post| %>
      <div class="conversation_post_content"><%= post.body %></div>
      <div class="conversation_post_date">Nov. 1 at 8:00 AM via EduPost
      </div>
    <% end %>
  <% end %>
</div>













