<div class="span4">

  <div class="box_l1_ep">
    <%= image_tag(@user.avatar.url(:original),:height => '50px', :width => '50px' , :class => "profile_pic img-rounded") %>
    <h3 class="profile_name"><%= @user.username %></h3>
    <%= link_to "View my profile page", profile_path(@user), :class => "view_my_profile_page" %>
  </div>

  <div class="box_l1_hp">
    <%= link_to "Profile", edit_profile_path(@user) %><br /><hr />
    <%= link_to "Password", edit_password_profiles_path %>
  </div>

  <div class="box_l3_hp">
    <div class="link_box">
      &#169; &nbsp 2012 &nbsp EduPosts &nbsp More links go here
    </div>
  </div>
</div>

<div class="span8">
  <div class="box_r1_ep">
    <h2 class="posts_title">Profile</h2>
    <div class="profile_note">This information appears on your public profile, search results, and beyond.</div>
    <div class="edit_profile_right_column">
      <%= form_for(@user, :url => profile_path(@user)) do |f| %>
        <%= f.label :email, "Email:" %>
        <%= f.email_field :email, :readonly => true %>
        <%= validation_error(@user.errors["email"]) %>

        <%= f.label :username, "User Name:" %>
        <%= f.text_field :username %>
        <%= validation_error(@user.errors["username"]) %>

        <%= f.label :avatar, "Profile Picture:" %>
        <%= f.file_field :avatar %>
        <%= validation_error(@user.errors["avatar"]) %>

        <p>
          <button type="submit" class="btn btn-info">Update Profile</button></p>
        <% end %>

    </div>
  </div>
</div>
