<div id="Profile">
  <div style="float: left;">
    <%= image_tag(current_user.avatar.url(:original) , :style=>"width:100px;height: 100px;border-radius: 5px;margin: -11px 2px;") %>
  </div>
  <table style="position: relative;top: -11px;">
    <tr>
      <td><%= link_to current_user.username, profile_path(current_user) %></td>
    </tr>
    <tr>
      <td><%= current_user.email %></td>
    </tr>
  </table>
  <div style="float: right;position: relative;top: -47px;">
    <%= link_to "Edit Profile", edit_profile_path(current_user), :class => 'button' %>
    <div style="line-height:normal;padding: 10px;font-size: 12px;">
      <b><%= current_user.tweets.count %></b>&nbsp;<%= link_to "Tweets", profile_path(current_user)%><br /><hr />
      <b><%= current_user.sent_follows.where("status = #{true}").count %></b>&nbsp;<%= link_to "Following", following_profile_path(current_user)%><br /><hr />
      <b><%= current_user.received_follows.where("status = #{true}").count %></b>&nbsp;<%= link_to "Followers", followers_profile_path(current_user)%>
    </div>
  </div>
  <div style="float: left;left: -115px;position: relative;top: 94px;min-height: 215px;min-width: 380px;background-color: #F9F9F9;">
    <%= link_to "Passwords", edit_password_profiles_path , :class => 'button medium black', :style => 'margin: 20px 115px;' %><hr />
    <%= link_to "Profiles", edit_profile_path(current_user), :class => 'button medium black', :style => 'margin: 20px 115px;' %><hr />
  </div>
</div>
<div id="sign_up" style="left: 0;position: relative;top: 30px;width: 460px;background-color: #F9F9F9;">
  <%= form_for current_user, :url => update_password_profiles_path do |f|  %>
    <table width="100%" cellpadding="5px" cellspacing="0px" border="0">
      <tr>
        <td>Current Password:</td>
        <td><%= f.password_field :current_password %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= validation_error(current_user.errors["current_password"]) %></td>
      </tr>
      <tr>
        <td>New Password:</td>
        <td>
          <%= f.password_field :password %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= validation_error(current_user.errors["password"]) %></td>
      </tr>
      <tr>
        <td>Confirm Password:</td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= validation_error(current_user.errors["password_confirmation"]) %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Change Password", :class => 'button medium green'%> </td>
      </tr>
    </table>
  <% end %>
</div>