<div class="span4">

  <div class="box_l1_ep">
    <%= image_tag(@user.avatar.url(:original),:height => '40px', :width => '40px' , :class => "profile_pic img-rounded") %>
    <h3 class="profile_name"><%= @user.username %></h3>
    <%= link_to "View my profile page", profile_path(@user), :class => "view_my_profile_page" %>
  </div>


  <div class="box_l1_hp">
    <%= link_to "<button class='side_nav_button profile active_button' type=button'>Profile<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, edit_profile_path(@user) %>
    <%= link_to "<button class='side_nav_button password' type=button'>Password<img class='arrow' src='/assets/arrow.png' height='10px' width='10px'></button>".html_safe, edit_password_profiles_path %>
  </div>

  <div class="box_l3_hp">
    <div class="link_box">
      &#169; &nbsp 2012 &nbsp EduPosts &nbsp More links go here
    </div>
  </div>
</div>

<div class="span8">
  <div class="box_r1_ep">
    <h2 class="posts_title">Profile</h2>
    <div class="profile_note">This information appears on your public profile, search results, and beyond.</div>
    <div class="edit_profile_right_column">
      <%= form_for(@user, :url => profile_path(@user)) do |f| %>
        <table width="100%" cellpadding="20%">
          <tr>
            <td><%= f.label :avatar, "Photo" %></td>
            <td>
              <%= image_tag(@user.avatar.url(:original), :width => '100px', :height => '100px;', :id => 'user_photo') %>
              <img id="PreviewImage" src="" alt=""  />
              <div class="input-container btn">Change photo<span class="caret"></span>
                <%= f.file_field :avatar, :id => "realupload11", :onChange => 'readURL(this)', :style => 'margin-left: -119px;margin-top: -5px;width: 116px;'%>
              </div>
              <br/>
              <div class="change_photo_box_text" style="position:relative;left: 75px;">
                This photo is your identity on Eduposts and appears with your posts.Need help? <a href=#">Learn More</a>
              </div>
            </td>
            <td><%= validation_error(@user.errors["avatar"]) %></td>
          </tr>

          <tr>
            <td><%= f.label :username, "Username" %></td>
            <td><%= f.text_field :username %></td>
            <td><%= validation_error(@user.errors["username"]) %></td>
          </tr>
          <tr>
            <td><%= f.label :email, "Email" %></td>
            <td><%= f.email_field :email, :readonly => true %></td>
            <td> <%= validation_error(@user.errors["email"]) %></td>
          </tr>
          <tr>
            <td> <%= f.label :state, "From" %></td>
            <td> <%= f.text_field :state %></td>
          </tr>
          <tr>
            <td> <%= f.label :major, "Major" %></td>
            <td> <%= f.text_field :major %></td>
          </tr>
          <tr>
            <td><%= f.label :bio, "Bio" %></td>
            <td><%= f.text_area :bio, :rows => 3 %></td>
          </tr>

          <tr>
            <td><%= f.label :website, "Website" %></td>
            <td><%= f.text_field :website %></td>
          </tr>
          <tr>
            <td></td>
            <td><button type="submit" class="btn btn-info">Save Changes</button></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
<style>
  .form_error{
    color: red;
    left: -110px;
    position: relative;
    top: -5px;
    width: 200px;
  }
</style>
