<%= render :partial => 'user_show' %>
<div class="row-fluid">

  <div class="span4">
    <% if @user.id != current_user.id %>
      <div class="box_l1_up">
        <div class="post_to_box">
          <h5>Post to <%= @user.username %></h5>
          <%= render :partial => 'tweets/form'%>
        </div>
      </div>
    <% end %>

    <div class="box_l2_hp">
    			This box has not been decided what to be used for.
    </div>

    <div class="box_l3_hp">
      <div class="link_box">
        &#169; &nbsp 2012 &nbsp EduPosts &nbsp More links go here
      </div>
    </div>

  </div>

  <div class="span8">
    <div class="box_r1_hp">
      <h2 class="posts_title">Followers</h2><hr />
      <% if @followers.present? %>
        <% for follow in @followers %>
          <div class="posts_box">
            <div style="float:left;clear:both;"><%= image_tag follow.receiver.avatar.url(:original), :width => "50px;", :height => "50px;", :class => "profile_pic img-rounded" %></div>
            <div class="post" style="border-bottom: 1px solid grey;height: auto;">
              <h5 class="post_name"><%= follow.receiver.username %></h5>
              <div class="post_at">&nbsp<%= follow.receiver.email %></div>
              <div class="action_row">
                <% @user_follow=Follow.find_by_user_id_and_receiver_id_and_status(current_user.id,follow.receiver.id,false) %>
                <% @user_follower=Follow.find_by_user_id_and_receiver_id(current_user.id,follow.receiver.id) %>
                <% if !@user_follower.present?%>
                  <%= link_to 'Follow',follow_user_follow_path(current_user.id,follow.receiver.id),:remote => true,:method => 'post', :class => 'button medium green' %>
                <% elsif !@user_follow %>
                  <%= link_to 'Unfollow',unfollow_user_follow_path(current_user.id,follow.receiver.id),:remote => true,:method => 'put', :class => 'button medium red' %>
                <% elsif @user_follow%>
                  <%= link_to 'Follow',update_follow_user_follow_path(current_user.id,follow.receiver.id),:remote => true,:method => 'put', :class => 'button medium green' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <span style="color: red;font-size: 15px;left: 376px;position: relative;top: 17px;">No Posts.</span>
      <% end %>
    </div>

  </div>

</div>