<div class="span4">
  <div class="box_l1_hp">
    <%= image_tag(current_user.avatar.url(:original),:width => '50px;',:height => '50px;' , :class => "profile_pic img-rounded") %>
    <h3 class="profile_name"><%= current_user.username %></h3>
    <%= link_to "View my profile page", profile_path(current_user), :class => "view_my_profile_page" %>
    <div class="posts_count">
      <%= current_user.tweets.where("reply IS NULL").count %><br />POSTS
    </div>
    <div class="replies_count">
      <%= current_user.tweets.where("reply IS NOT NULL").count %><br />REPLIES
    </div>
    <%= form_for @post, :url =>compose_message_profiles_path,:html => {:multipart => true,:method => "POST"},:remote => true do |f| %>
      <%= f.text_field :body,:class=>"compose_new_post",:style=>"width:74%;",:placeholder=>"@#{current_user.username}" %>
      <div class="input-container" id="img_preview" style="margin-left: 9px;margin-top: -6px;">
        <%= f.file_field :document, :id => "realupload", :class => "realupload", :onChange => 'readURL(this)'%>
      </div>
      <%= f.submit 'Post', :style => "margin-left: 10px;"%>
    <% end %>
  </div>

  <div class="box_l2_hp">
    This box has not been decided what to be used for.
  </div>

  <div class="box_l3_hp">
    <div class="link_box">
      &#169; &nbsp 2012 &nbsp EduPosts &nbsp More links go here
    </div>
  </div>
</div>

<div class="span8">
  <%= render :partial => 'index' %>
</div>
