<div class="span4">
  <div class="box_l1_hp" style="position: relative;">
    <% if current_user.role == 'student' %>
      <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original),:width => '50px;',:height => '50px;' , :class => "profile_pic img-rounded") : image_tag("/assets/profile_pic_student.png",:width => '50px;',:height => '50px;' , :class => "profile_pic img-rounded")%>
    <% else %>
      <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original),:width => '50px;',:height => '50px;' , :class => "profile_pic img-rounded") : image_tag("/assets/profile_pic_instructor.png",:width => '50px;',:height => '50px;' , :class => "profile_pic img-rounded")%>
    <% end %>
    <h3 class="profile_name"><%= current_user.fullname %></h3>
    <%= link_to "View my profile page", profile_path(current_user), :class => "view_my_profile_page" %>
    <div class="posts_count">
      <%= current_user.tweets.where("reply IS NULL").count %>&nbsp;Posts
    </div>
    <div class="replies_count">
      <%= current_user.tweets.where("reply IS NOT NULL").count %>&nbsp;Replies
    </div><br />

    <%= form_for @post, :url =>compose_message_profiles_path,:html => {:multipart => true,:method => "POST"},:remote => true do |f| %>
      <%= f.text_area :body,:class=>"compose_new_post",:value => '',:rows => 1,:style => 'margin-left: 12px;margin-top: 62px;resize:none;',:placeholder=>"Compose new Post...",:id => 'area' %>
      <div class="input-container btn attachment" id="image_upload" style="height: 22px;left: 4px;position: relative;width: 20px;display: none;"><%= image_tag("/assets/paperclip.png", :width => '15px;', :height => '20px;')%>
        <%= f.file_field :document, :id => "realupload", :class => "realupload", :onChange => 'readURL(this)'%>
      </div>
      <img id="PreviewImage" style="height: 16px;left: 18px;position: relative;top: 2px;width: 20px;display: none;"  />
      <%= f.submit 'Post', :id => "post",:class =>'btn', :style => 'display: none;left: 215px;position: relative;'%>
    <% end %>
  </div>
  <% if current_user.role == 'student' %>
    <div class="box_l2_hp points_box">
      <h5 class="points_title">Points</h5>
      <div class="progress progress-striped active">
        <div class="bar" style="width: 80%;">80&nbsp</div>
      </div>
      <div class="badges_title">Badges &#183; Stats</div>
    </div>
  <% end %>


  <div class="box_l3_hp">
    <div class="link_box">
   	About &#183; Help &#183; Terms &#183; Privacy &#183; Blog
      <br/>
      &#169; 2012 Eduposts
    </div>
  </div>
</div>

<div class="span8" id="posts">
  <h2 class="posts_title">
    Posts
    <span id="success" style="color: green;display: none;float: right;font-size: 15px;position: relative;top: 30px;">Successfully deleted this post.</span>
  </h2>
  <%= render :partial => 'index' %>
  <input type="hidden" value="inbox" id="post_type" />
</div>
<script>
  jQuery(function() {
    jQuery(window).scroll(
    function() {
      if (($(window).scrollTop() == $(document).height() - $(window).height()) && jQuery('#posts_page').val() > 0)
      {
        if (jQuery("#post_type").val() == 'inbox') {
          more_posts(jQuery('#posts_page').val())
        }
      }
    });
  });
</script>
