<h2><span>Start using our web app</span></h2>
<div class="row">
  <div class="span5" style="position: relative;left: 300px;">
    <strong>Log in for members:</strong>
    <br/>
    <br/>
    <div id="error" style="display :none;color :red; font-size: 14px;position: relative;z-index: 1001;">Invalid Email/Password</div>
    <div id="error1" style="display :none;color :red;font-size: 14px;position: relative;z-index: 1001;">You need to sign in or sign up before continuing. </div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class =>"form-horizontal" },:remote => true) do |f| %>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email or Username</label>
        <div class="controls">
          <%= f.email_field :email, :class => 'input-xlarge', :id => "inputEmail", :placeholder => "Email" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <%= f.password_field :password, :class => 'input-xlarge', :id => "inputPassword", :placeholder => "Password" %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <%= f.check_box :remember_me, :value => 1, :checked => 'checked', :name => "school_admin[remember_me]" %>Remember me
          </label>
          <button type="submit" class="btn">Log In</button>
          <%= link_to "Recover password or username &raquo;".html_safe, new_user_password_path %>
          <br/>
        </div>
      </div>
    <% end %><br /><br /><br /><br /><br /><br />
  </div>
</div><!--/span5-->


<script>
  $(document).ajaxError(function(e, XHR, options){
    val1 = $('#user_email').val();
    val2 = $('#user_password').val();
    if (XHR.status == 401){
      if(val1 != '' || val2 != ''){
        $("#error1").hide();
        $("#error").show();
      }else{
        $("#error").hide();
        $("#error1").show();
      }
    }
  });

  function password(){
    $("#login_form1").hide();
    $("#div-regForm1").show();
  }

  function confirmations(){
    $("#login_form1").hide();
    $("#div-regForm1").hide();
    $("#confirmation_email").show();
  }


</script>