<div id="Tweet-summary" style="float: left;left: 400px;position: absolute;top: 52px;width: 35%;">
  <div id="title">Send Invitation To Student</div><br />
  <%= form_for @student, :url => school_students_path(@school) do |f| %>
    <table>
      <tr>
        <td>Student Name:</td>
        <td><%= f.text_field :name%></td>
        <td><%= validation_error(@student.errors["name"])%></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= f.text_field :email %></td>
        <td><%= validation_error(@student.errors["email"])%></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Send Invitation", :class => 'btn'%></td>
      </tr>
    </table>
  <% end %>
  <span style="text-align: center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(OR)</span>
  <div>
    <h3>Send Invitation To Student</h3>
    <%= render :partial => "upload_csvs/upload_csv" %>
  </div>
</div>
