<% if @posts.present? %>
  <% for post in @posts.compact %>
    <div id="post_<%= post.id %>">
      <div style="float:left;clear:both;"><%= post_picture(post) %></div>
      <div class="post" style="border-bottom-color: #E8E8E8;border-bottom-style: solid;border-bottom-width: 1px;height: auto;">
        <h5 class="post_name"><%= link_to post.user.fullname,profile_path(post.user), :style => 'color:black;font-weight:bold;' %></h5>
        <div class="post_at">&nbsp<%= post.user.username %></div>
        <div class="post_time"><%= time_ago_in_words(post.created_at) %></div>
        <div class="post_text">
          <%= User.find_by_username(post.body.split(" ")[0]).present? ? ((link_to post.body.split(" ")[0],profile_path(post.receiver))+' '+post.body.slice(post.body.split(" ")[0].length..post.body.length)) : post.body %>
        </div>
        <div class="action_row">
          <%= link_to_function image_tag("/assets/discussion.png", :height => "10px", :width => "10px")+'View Conversation', "conversation('#{post.user.id}', #{post.id})" %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <span style="color: red;font-size: 15px;left: 310px;position: relative;top: -15px;">No Replies.</span>
<% end %>
<% if @posts.total_pages > @posts.current_page %>
  <div id="more_posts_link">
    <input type="hidden" value="<%= @posts.current_page+1 %>" id="posts_page" />
  </div>
<% end %>
<div id='ajax' style='z-index:1000000;display: none;'>
  <img alt=""  src="/assets/ajax-loader.gif"  id = "ajax-loader" style="float: right;height: 16px;left: -444px;position: relative;width: 16px;z-index: 1000000;" />
</div>
