<div class="span4">
  <div class="squiggly-border"></div>
  <div class="graph" id="flot-gradient-line_<%= @user.id %>"></div>
</div>
<script type="text/javascript">
  jQuery(function($){
    flot_line('flot-gradient-line_<%= @user.id %>', flot_options_line,[[<%= @time5 %>, <%= @likes5 %>],[<%= @time4 %>, <%= @likes4 %>],[<%= @time3 %>, <%= @likes3 %>],[<%= @time2 %>, <%= @likes2 %>],[<%= @time1 %>, <%= @likes1 %>],[<%= @time %>, <%= @likes %>]],[[<%= @time5 %>, <%= @clikes5 %>],[<%= @time4 %>, <%= @clikes4 %>],[<%= @time3 %>, <%= @clikes3 %>],[<%= @time2 %>, <%= @clikes2 %>],[<%= @time1 %>, <%= @clikes1 %>],[<%= @time %>, <%= @clikes %>]]);
  });
</script>