<div id="Tweet-summary" style="float: left;left: 400px;position: absolute;top: 52px;width: 35%;">
  <div id="title">Send Invitation To Teacher</div><br />
  <%= form_for @teacher, :url => school_teachers_path(@school) do |f| %>
    <table>
      <tr>
        <td>Teacher Name:</td>
        <td><%= f.text_field :name%></td>
        <td><%= validation_error(@teacher.errors["name"])%></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><%= f.text_field :email %></td>
        <td><%= validation_error(@teacher.errors["email"])%></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Send Invitation", :class => 'btn'%></td>
      </tr>
    </table>
  <% end %>
</div>