<div id="UserComment_<%= @post.id %>" style="background-color: #F1F1F7;padding: 5px;">
  <%= form_for @post, :url => reply_post_user_post_path(@post),:html => {:multipart => true, :method => 'POST'},:remote => true do |f| %>
    <table>
      <tr>
        <td>
          <%= f.text_area :body, :cols => 30, :rows => 1,:value => '', :placeholder => "Reply.." %>
        </td>
      </tr>
      <tr>
        <td style="color: red;">
          <%= validation_error(@post.errors['body'])%>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit "Post", :class => 'btn'%>
        </td>
      </tr>
    </table>
  <% end %>
</div>