<div id="UserComment_<%= @post.id %>" style="background-color: #F1F1F7;padding: 5px;">
  <%= form_for @post, :url => reply_post_user_post_path(@post),:html => {:multipart => true, :method => 'POST'},:remote => true do |f| %>
    <table>
      <tr>
        <td>
          <%= f.text_area :body, :cols => 30, :rows => 1,:value => '', :placeholder => "Reply.." %>
        </td>
      </tr>
      <tr>
        <td>
          <%= validation_error(@post.errors['body'])%>
        </td>
      </tr>
      <tr><td>
          <div class="input-container btn attachment" style="height: 22px;left: 10px;position: relative;width: 20px;"><img src="/assets/paperclip.png" height="20px" width="15px">
            <%= f.file_field :document, :id => "realupload1_#{@post.id}", :class => "realupload", :onChange => "readURL_#{@post.id}(this)"%>
          </div>
          <img id="PreviewImage_<%= @post.id %>" src="" alt="" style="float: left;height: 25px;margin-left: 20px;margin-top: 3px;width: 25px;"  />
          <%= f.submit "Post", :class => 'btn'%></td>
      </tr>
    </table>

    <style>
      #realupload1_<%= @post.id %>{
        margin-left: -26px;
        margin-top: -7px;
        opacity: 0;
        width: 27px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      }
    </style>
    <script>
      function readURL_<%= @post.id %>(input) {
        if (input.files && input.files[0]) {//Check if input has files.
          var reader = new FileReader();//Initialize FileReader.

          reader.onload = function (e) {
            $('#PreviewImage_<%= @post.id %>').attr('src', e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  <% end %>
</div>