<div id="conversation_back">
  <div id="conversation_modal" style="bottom: auto; overflow: visible;">
    <div style="float: right;margin-right: -18px;margin-top: -18px;">
      <%=image_tag("close.jpeg", :style => "cursor: pointer;margin : -2px -9px -2px 0px;", :border =>0,:width => '34px', :height => '34px', :onclick => "hide_popup();")%>
    </div>
    <div class="gradient-section single-page">
      <div id="message_11147329" class="message single-message suggested twitter" data-ape="messages_11147329">
        <div class="avatar-contain">
          <div class="avatar">
            <div class="msgSource"></div>
            <% if @post.user.role == 'student' %>
              <%= @post.user.avatar.present? ? image_tag(@post.user.avatar.url(:original), :width => '75', :height => '75') : image_tag("/assets/profile_pic_student.png", :width => '75', :height => '75')%>
            <% else %>
              <%= @post.user.avatar.present? ? image_tag(@post.user.avatar.url(:original), :width => '75', :height => '75') : image_tag("/assets/profile_pic_instructor.png", :width => '75', :height => '75')%>
            <% end %>
          </div>
        </div>
      </div>

      <div class="message-content clearfix">
        <div class="convo-user"> Started this conversation </div>
        <%= @post.user.fullname %>
        <div id="message_body_11147329" class="message-body">
          <% if @post.body > @post.body.slice(0..300) %>
            <span id="pos1_<%= @post.id%>"><%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.slice(0..300).length)) : @post.body.slice(0..300) %><%= link_to_function "...", "expand(#{@post.id})" %><br /></span>
          <% else %>
              <%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.length)) : @post.body %><br />
            <% end %>
          <div id="expa1_<%= @post.id %>"  style="display:none;">
            <%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.length)) : @post.body %>
          </div>
        </div>
        <% if @post.body > @post.body.slice(0..300) %>
          <%= link_to_function "expand", "expand1(#{@post.id})", :id => "expand1_#{@post.id}" %>
          <%= link_to_function "Hide", "unexpand1(#{@post.id})", :id => "unexpand1_#{@post.id}", :style => 'display:none;' %>
          &nbsp&nbsp
        <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div id="conversation_sidebar_wrapper">
    <div id="conversation_sidebar">
      <div class="conversation-contain">
        <ol id="updates" class="stream-list small-style stream-poller">
          <li id="message_11147352" class="message clearfix default">
            <div class="avatar with-user-card">
              <div class="msgSource"></div>
              <%= conversation_picture(@post) %>
            </div>
            <div class="message-content">
              <a class="username with-user-card"><%= @post.user.username %></a>
              <div id="message_body_11147352" class="message-body ">
                <% if @post.body > @post.body.slice(0..300) %>
                  <span id="pos1_<%= @post.id%>"><%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.slice(0..300).length)) : @post.body.slice(0..300) %><%= link_to_function "...", "expand(#{@post.id})" %><br /></span>
                <% else %>
                    <%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.length)) : @post.body %><br />
                  <% end %>
                <div id="expa1_<%= @post.id %>"  style="display:none;">
                  <%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.length)) : @post.body %>
                </div>
              </div>
              <ul class="messageTools tools-default">
                <li class="reply-dot">
                  <a class="convo-contain" onclick="_gaq.push(["_trackEvent", "MessageClick", "Conversation", "11147352"]);" href="/message/11147329#11147352">
                     <div class="icon-comments"></div>
                  </a>
                </li>
                <li class="reply-dot">
                  <%= time_ago_in_words(@post.created_at) %> &#183;
                  <% if @post.body > @post.body.slice(0..300) %>
                    <%= link_to_function "expand", "expand1(#{@post.id})", :id => "expand1_#{@post.id}" %>
                    <%= link_to_function "Hide", "unexpand1(#{@post.id})", :id => "unexpand1_#{@post.id}", :style => 'display:none;' %>
                    &nbsp&nbsp
                  <% end %>
                  <%= link_to_function image_tag("/assets/reply_icon.png", :width => '10px', :height => '10px')+'Reply', "reply_user_post_path('#{@post.user.username}')" %> &#183;
                  <% if !@post.favorite.present? || !current_user.favorite_for(@post).present? %>
                    <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorite',favourite_user_posts_path(@post.id),:remote => true,:method => 'post' %>
                  <% elsif @post.favorite.status == true %>
                    <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorited',update_favourite_user_posts_path(@post.id),:remote => true,:method => 'put', :style => 'color: #FF9B00;' %>
                  <%elsif @post.favorite.status == false%>
                    <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorite',update_mark_favourite_user_posts_path(@post.id),:remote => true,:method => 'put' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <% for post in @posts %>
      <div id="conversation_sidebar">
        <div class="conversation-contain">
          <ol id="updates" class="stream-list small-style stream-poller">
            <li id="message_11147352" class="message clearfix default">
              <div class="avatar with-user-card">
                <div class="msgSource"></div>
                <%= conversation_picture(post) %>
              </div>
              <div class="message-content">
                <a class="username with-user-card"><%= @post.user.username %></a>
                <div id="message_body_11147352" class="message-body ">
                  <% if post.body > post.body.slice(0..300) %>
                    <span id="pos1_<%= post.id%>"><%= User.find_by_username(post.body.split(" ")[0]).present? ? ((link_to post.body.split(" ")[0], profile_path(post.receiver))+' '+post.body.slice(post.body.split(" ")[0].length..post.body.slice(0..300).length)) : post.body.slice(0..300) %><%= link_to_function "...", "expand(#{post.id})" %><br /></span>
                  <% else %>
                      <%= User.find_by_username(post.body.split(" ")[0]).present? ? ((link_to post.body.split(" ")[0], profile_path(post.receiver))+' '+post.body.slice(post.body.split(" ")[0].length..post.body.length)) : post.body %><br />
                    <% end %>
                  <div id="expa1_<%= post.id %>"  style="display:none;">
                    <%= User.find_by_username(post.body.split(" ")[0]).present? ? ((link_to post.body.split(" ")[0], profile_path(post.receiver))+' '+post.body.slice(post.body.split(" ")[0].length..post.body.length)) : post.body %>
                  </div>
                </div>
                <ul class="messageTools tools-default">
                  <li class="reply-dot">
                    <%= time_ago_in_words(post.created_at) %> &#183;
                    <% if post.body > post.body.slice(0..300) %>
                      <%= link_to_function "expand", "expand1(#{post.id})", :id => "expand1_#{post.id}" %>
                      <%= link_to_function "Hide", "unexpand1(#{post.id})", :id => "unexpand1_#{post.id}", :style => 'display:none;' %>
                      &nbsp&nbsp
                    <% end %>
                    <%= link_to_function image_tag("/assets/reply_icon.png", :width => '10px', :height => '10px')+'Reply', "reply_user_post_path('#{post.user.username}')" %> &#183;
                    <% if !post.favorite.present? || !current_user.favorite_for(post).present? %>
                      <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorite',favourite_user_posts_path(post.id),:remote => true,:method => 'post' %>
                    <% elsif post.favorite.status == true %>
                      <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorited',update_favourite_user_posts_path(post.id),:remote => true,:method => 'put', :style => 'color: #FF9B00;' %>
                    <%elsif post.favorite.status == false%>
                      <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorite',update_mark_favourite_user_posts_path(post.id),:remote => true,:method => 'put' %>
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
          </ol>
        </div>
      </div>
    <% end %>
    <div class="conversation_post_input_box" style="height: auto;padding-bottom: 0px;">
      <%= form_for @post, :url => reply_post_user_post_path(@post),:html => {:multipart => true, :method => 'POST'},:remote => true do |f| %>
        <% if current_user.role == 'student' %>
          <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original), :width => '30px', :height => '30px', :class => 'conversation_post_pic_small') : image_tag("/assets/profile_pic_student.png", :width => '30px', :height => '30px', :class => 'conversation_post_pic_small')%>
        <% else %>
          <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original), :width => '30px', :height => '30px', :class => 'conversation_post_pic_small') : image_tag("/assets/profile_pic_instructor.png", :width => '30px', :height => '30px', :class => 'conversation_post_pic_small')%>
        <% end %>
        <%= f.text_area :body,:value => "#{@post.user.username+ " "}",:class=>"compose_new_post",:rows => 1,:style => 'resize:none;margin-right: 20px;width: 80%;' %>
        <div class="input-container btn attachment" id="image_upload1" style="height: 22px;left: 40px;position: relative;width: 20px;display: none;"><%= image_tag("/assets/paperclip.png", :width => '15px;', :height => '20px;')%>
          <%= f.file_field :document, :id => "realupload", :class => "realupload", :onChange => 'readURL(this)'%>
        </div>
        <img id="PreviewImage1" style="height: 16px;left: 50px;position: relative;top: 4px;width: 20px;display: none;"  />
        <%= f.submit 'Post', :id => 'post1',:class =>'btn', :style => 'display: none;left: 285px;position: relative;'%>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    var mouse_in_side = false;

    $("#tweet_body").click(function(){
      $("#tweet_body").css('min-height','100px');
      $("#image_upload1").show();
      $("#post1").css('display', 'block');
      $('#PreviewImage1').show();
      mouse_in_side = true;
    })

    $('.conversation_post_input_box').hover(function(){
      mouse_in_side=true;
    }, function(){
      mouse_in_side=false;
    });

    $(document).click(function(){
      if(mouse_in_side == false){
        $("#tweet_body").css('min-height','10px');
        $("#image_upload1").hide();
        $("#post1").hide();
        $('#PreviewImage1').hide();
      }
    });
  });

  function readURL(input) {
    if (input.files && input.files[0]) {//Check if input has files.
      var reader = new FileReader();//Initialize FileReader.

      reader.onload = function (e) {
        $('#PreviewImage1').attr('src', '/assets/check_loaded.png');
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  function reply_user_post_path(user){
    $("#tweet_body").val(user + " ");
  }
</script>
