<div id="conversation_back">
  <div id="conversation_modal" style="bottom: auto; overflow: visible;top: 180px;">
    <div style="float: right;margin-right: -6px;margin-top: -12px;">
      <%=image_tag("x.png", :style => "cursor: pointer;", :border =>0,:width => '12px', :height => '13px', :onclick => "hide_popup();")%>
    </div>
    <div class="gradient-section single-page">
      <div id="message_11147329" class="message single-message suggested twitter" data-ape="messages_11147329">
        <div class="avatar-contain">
          <div class="avatar">
            <div class="msgSource"></div>
            <% if @post.user.role == 'student' %>
              <%= @post.user.avatar.present? ? image_tag(@post.user.avatar.url(:original), :width => '75', :height => '75') : image_tag("/assets/profile_pic_student.png", :width => '75', :height => '75')%>
            <% else %>
              <%= @post.user.avatar.present? ? image_tag(@post.user.avatar.url(:original), :width => '75', :height => '75') : image_tag("/assets/profile_pic_instructor.png", :width => '75', :height => '75')%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="message-content clearfix">
        <h4 class="conversation_post_name" style="line-height:0px;"><%= @post.user.fullname %></h4>
        <div class="started_this_conversation"> Started this conversation </div>

        <div id="message_body_11147329" class="conversation_post_content">
          <% if @post.receiver.present? %>
            <% if @post.body > @post.body.slice(0..300) %>
              <span id="pos2_<%= @post.id%>"><%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.slice(0..300).length)) : @post.body.slice(0..300) %><%= link_to_function "...", "expand2(#{@post.id})" %><br /></span>
            <% else %>
                <%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.length)) : @post.body %><br />
              <% end %>
            <div id="expa2_<%= @post.id %>"  style="display:none;">
              <%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.length)) : @post.body %>
            </div>
          <% else %>
            <% if @post.body > @post.body.slice(0..300) %>
              <span id="pos2_<%= @post.id%>"><%= ((@post.body.slice(0..300))) %><%= link_to_function "...", "expand2(#{@post.id})" %><br /></span>
            <% else %>
                <%= @post.body %><br />
              <% end %>
            <div id="expa2_<%= @post.id %>"  style="display:none;">
              <%= @post.body %>
            </div>
          <% end %>
          <div class="conversation_post_date"><%= time_ago_in_words(@post.created_at) %></div>
          <% if @post.body > @post.body.slice(0..300) %>
            <%= link_to_function "expand", "expand2(#{@post.id})", :id => "expand2_#{@post.id}" %>
            <%= link_to_function "Hide", "unexpand2(#{@post.id})", :id => "unexpand2_#{@post.id}", :style => 'display:none;' %>
            &nbsp&nbsp
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div id="conversation_sidebar_wrapper">
    <div id="conversation_sidebar">
      <div class="conversation-contain">
        <ol id="updates" class="stream-list small-style stream-poller">
          <li id="message_11147352" class="message clearfix default">
            <div class="avatar with-user-card">
              <%= conversation_picture(@post) %>
            </div>
            <div class="message-content">
              <a class="username with-user-card"><%= @post.user.username %></a>
              <div id="message_body_11147352" class="message-body ">
                <% if @post.receiver.present? %>
                  <% if @post.body > @post.body.slice(0..300) %>
                    <span id="pos1_<%= @post.id%>"><%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.slice(0..300).length)) : @post.body.slice(0..300) %><%= link_to_function "...", "expand1(#{@post.id})" %><br /></span>
                  <% else %>
                      <%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.length)) : @post.body %><br />
                    <% end %>
                  <div id="expa1_<%= @post.id %>"  style="display:none;">
                    <%= User.find_by_username(@post.body.split(" ")[0]).present? ? ((link_to @post.body.split(" ")[0], profile_path(@post.receiver))+' '+@post.body.slice(@post.body.split(" ")[0].length..@post.body.length)) : @post.body %>
                  </div>
                <% else %>
                  <% if @post.body > @post.body.slice(0..300) %>
                    <span id="pos1_<%= @post.id%>"><%= @post.body.slice(0..300) %><%= link_to_function "...", "expand1(#{@post.id})" %><br /></span>
                  <% else %>
                      <%= @post.body %><br />
                    <% end %>
                  <div id="expa1_<%= @post.id %>"  style="display:none;">
                    <%= @post.body %>
                  </div>
                <% end %>
              </div>
              <ul class="messageTools tools-default">
                <li class="reply-dot">
                  <%= time_ago_in_words(@post.created_at) %> &#183;
                  <% if @post.body > @post.body.slice(0..300) %>
                    <%= link_to_function "expand", "expand1(#{@post.id})", :id => "expand1_#{@post.id}" %>
                    <%= link_to_function "Hide", "unexpand1(#{@post.id})", :id => "unexpand1_#{@post.id}", :style => 'display:none;' %>
                    &nbsp&nbsp
                  <% end %>
                  <%= link_to_function image_tag("/assets/reply_icon.png", :width => '10px', :height => '10px')+'Reply', "reply_user_post_path('#{@post.user.username}')" %> &#183;
                  <% if !@post.favorite.present? || !current_user.favorite_for(@post).present? %>
                    <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorite',favourite_user_posts_path(@post.id),:remote => true,:method => 'post' %>
                  <% elsif @post.favorite.status == true %>
                    <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorited',update_favourite_user_posts_path(@post.id),:remote => true,:method => 'put', :style => 'color: #FF9B00;' %>
                  <%elsif @post.favorite.status == false%>
                    <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorite',update_mark_favourite_user_posts_path(@post.id),:remote => true,:method => 'put' %>
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
          <% for post in @posts %>
            <% if post.id != @post.id %>
              <li id="message_11147352" class="message clearfix default">
                <div class="avatar with-user-card">
                  <%= conversation_picture(post) %>
                </div>
                <div class="message-content">
                  <a class="username with-user-card"><%= post.user.username %></a>
                  <div id="message_body_11147352" class="message-body ">
                    <% if post.receiver.present? %>
                      <% if post.body > post.body.slice(0..300) %>
                        <span id="pos1_<%= post.id%>"><%= User.find_by_username(post.body.split(" ")[0]).present? ? ((link_to post.body.split(" ")[0], profile_path(post.receiver))+' '+post.body.slice(post.body.split(" ")[0].length..post.body.slice(0..300).length)) : post.body.slice(0..300) %><%= link_to_function "...", "expand1(#{post.id})" %><br /></span>
                      <% else %>
                          <%= User.find_by_username(post.body.split(" ")[0]).present? ? ((link_to post.body.split(" ")[0], profile_path(post.receiver))+' '+post.body.slice(post.body.split(" ")[0].length..post.body.length)) : post.body %><br />
                        <% end %>
                      <div id="expa1_<%= post.id %>"  style="display:none;">
                        <%= User.find_by_username(post.body.split(" ")[0]).present? ? ((link_to post.body.split(" ")[0], profile_path(post.receiver))+' '+post.body.slice(post.body.split(" ")[0].length..post.body.length)) : post.body %>
                      </div>
                    <% else %>
                      <% if post.body > post.body.slice(0..300) %>
                        <span id="pos1_<%= post.id%>"><%= post.body.slice(0..300) %><%= link_to_function "...", "expand1(#{post.id})" %><br /></span>
                      <% else %>
                          <%= post.body %><br />
                        <% end %>
                      <div id="expa1_<%= post.id %>"  style="display:none;">
                        <%= post.body %>
                      </div>
                    <% end %>
                  </div>
                  <ul class="messageTools tools-default">
                    <li class="reply-dot">
                      <%= time_ago_in_words(post.created_at) %> &#183;
                      <% if post.body > post.body.slice(0..300) %>
                        <%= link_to_function "expand", "expand1(#{post.id})", :id => "expand1_#{post.id}" %>
                        <%= link_to_function "Hide", "unexpand1(#{post.id})", :id => "unexpand1_#{post.id}", :style => 'display:none;' %>
                        &nbsp&nbsp
                      <% end %>
                      <%= link_to_function image_tag("/assets/reply_icon.png", :width => '10px', :height => '10px')+'Reply', "reply_user_post_path('#{post.user.username}')" %> &#183;
                      <% if !post.favorite.present? || !current_user.favorite_for(post).present? %>
                        <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorite',favourite_user_posts_path(post.id),:remote => true,:method => 'post' %>
                      <% elsif post.favorite.status == true %>
                        <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorited',update_favourite_user_posts_path(post.id),:remote => true,:method => 'put', :style => 'color: #FF9B00;' %>
                      <%elsif post.favorite.status == false%>
                        <%= link_to image_tag("/assets/favorite_icon.png", :width => '10px', :height => '10px')+'Favorite',update_mark_favourite_user_posts_path(post.id),:remote => true,:method => 'put' %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </li>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>

    <div class="conversation_post_input_box" style="height: auto;padding-bottom: 25px;">
      <%= form_for @post, :url => reply_post_user_post_path(@post),:html => {:multipart => true, :method => 'POST'},:remote => true do |f| %>
        <% if current_user.role == 'student' %>
          <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original), :width => '30px', :height => '30px', :class => 'conversation_post_pic_small') : image_tag("/assets/profile_pic_student.png", :width => '30px', :height => '30px', :class => 'conversation_post_pic_small')%>
        <% else %>
          <%= current_user.avatar.present? ? image_tag(current_user.avatar.url(:original), :width => '30px', :height => '30px', :class => 'conversation_post_pic_small') : image_tag("/assets/profile_pic_instructor.png", :width => '30px', :height => '30px', :class => 'conversation_post_pic_small')%>
        <% end %>
        <%=  f.text_area :body,:value => "#{@post.user.username+ " "}",:class=>"compose_new_post",:rows => 1,:style => 'resize:none;margin-right: 20px;width: 85%;padding:0px;background-color:#f5f5f5;' %>
        <div style="width:100%">
          <div style="width:49%; float: left;">
            <div class="input-container btn attachment" id="file_browse_wrapper" style="height: 22px;left: 40px;position: relative;width: 20px;display: none;margin-top: 0px;"><%= image_tag("/assets/paperclip.png", :width => '15px;', :height => '20px;')%>
              <%= f.file_field :document, :id => "file_browse", :onChange => 'readURL(this)' %>
            </div>
            <img id="PreviewImage1" style="height: 16px;top: 4px;width: 20px;display: none;" />
          </div>
          <div style="width:13%;float: left;">
            <%= f.submit 'Post', :id => 'post1',:class =>'btn', :style => 'display: none;left: 146px;position: relative;'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(function($){
  });
  $(function()
  {
    $("#tweet_body").focus(function()
    {
      $(this).animate({"height": "100px"}, "fast" );
      $("#button_bar").show();
      $("#file_browse_wrapper").show();
      $("#post1").css('display', 'block');
      return false;
    });
  });

  function readURL(input) {
    if (input.files && input.files[0]) {//Check if input has files.
      var reader = new FileReader();//Initialize FileReader.

      reader.onload = function (e) {
        $('#PreviewImage1').attr('src', '/assets/check_loaded.png');
        $('#PreviewImage1').show();
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  function reply_user_post_path(user){
    $("#tweet_body").val(user + " ");
  }
</script>
