<!DOCTYPE html>
<html>
  <head>
    <title>My Greatest Web App</title>
    <%= stylesheet_link_tag "application","bootstrap", "jquery.notifyBar","bootstrap-responsive","font-awesome.css", "base","jquery.simplyscroll","styleswitch" %>
    <%= javascript_include_tag "application", "jquery.notifyBar","jquery.simplyscroll","jquery.remotipart","bootstrap.min","script","jquery.iframe-transport","styleswitch" %>
    <%= csrf_meta_tags %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function () {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
    <style>
      body { padding-top: 105px; }
    </style>
    <link rel="stylesheet" href="/assets/green.css" />
    <link rel="alternate stylesheet"  title="blue" href="/assets/blue.css" />
    <link rel="alternate stylesheet"  title="red" href="/assets/red.css" />
  </head>
  <body>
    <!--Delete this-->
    <% if params[:action] != 'login' %>
      <div class="switcher">
        <i class="icon icon-bookmark green"></i>  <%= link_to 'Default theme',"javascript:chooseStyle('none', 60)",:checked => "checked"%><br />
        <i class="icon icon-bookmark blue"></i> <%= link_to 'Blue theme',"javascript:chooseStyle('blue', 60)"%> <br />
        <i class="icon icon-bookmark red"></i> <%= link_to 'Red theme',"javascript:chooseStyle('red', 60)"%>
      </div>
    <% end %>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <i class="icon icon-reorder"></i> Menu
          </a>
          <a class="brand">Ambrosia</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <% if current_user %>
                  <%= link_to "Home", profiles_path %>
                <% else %>
                  <%= link_to "Home", root_path %>
                <% end %></li>
              <li><%= link_to "Getting started", "" %></li>
              <li><%= link_to "Blog", "" %></li>
              <li><%= link_to "About", about_home_index_path %></li>
              <li><%= link_to "Contact", "" %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="sub-navbar">
        <div class="container">
          <% if params[:action] != 'login' %>
            <% if params[:controller] == "home" %>
              <p><i class="icon icon-user"></i> Hello, Student.
                <%= link_to "Login here ", new_user_session_path, :class => 'btn btn-login' %>
                <span style="float:right;"><i class="icon icon-user"></i>
                  Hello, School Admin.<%= link_to "Login here ", new_school_admin_session_path, :class => 'btn btn-login' %>
                </span>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>

    <div id='ajax_loader_big_div'>
      <img alt=""  src="/assets/284.gif" style="width:80px;height:80px;z-index:1000000;"/>
    </div>
    <div class="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">
          <p>Designed by @heyallanmoreno</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>

