<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>My Greatest Web App</title>
    <%= stylesheet_link_tag "bootstrap", "jquery.notifyBar","bootstrap-responsive", "base","jquery.simplyscroll","green","red","blue","styleswitch" %>
    <%= javascript_include_tag "application", "jquery.notifyBar","jquery.simplyscroll","jquery.remotipart","bootstrap.min","script","jquery.iframe-transport","styleswitch" %>
    <%= csrf_meta_tags %>
    <% ['notice', 'error', 'warning'].each do |f|%>
      <% if flash[f.to_sym]%>
        <script type="text/javascript" >
          jQuery(function () {
            jQuery.notifyBar({
              cls: "<%= f %>",
              html: "<%=  flash[f.to_sym] %>",
              delay: 3000,
              animationSpeed: "normal"
            });
          });
        </script>
      <%end%>
    <%end%>
    <style>
      body { padding-top: 105px; }
    </style>
  </head>
  <body>
    <!--Delete this-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <i class="icon icon-reorder"></i> Menu
          </a>
          <a class="brand">Ambrosia</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <% if current_user %>
                  <%= link_to "Home", profiles_path %>
                <% else %>
                  <%= link_to "Home", root_path %>
                <% end %></li>
              <li><%= link_to "Getting started", "" %></li>
              <li><%= link_to "Blog", "" %></li>
              <li><%= link_to "About", "" %></li>
              <li><%= link_to "Contact", "" %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="sub-navbar">
        <div class="container">
          <p><i class="icon icon-user"></i> Hello, Guest. <%= link_to "Login here ", new_user_session_path, :class => 'btn btn-login' %></p>
        </div>
      </div>
    </div>

    <div id='ajax_loader_big_div' style='z-index:1000000;display: none;'>
      <img alt=""  src="/assets/284.gif" style="width:80px;height:80px;z-index:1000000;"/>
    </div>
    <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">
          <p>Designed by @heyallanmoreno</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>